<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lanjiaai.kzhihu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.lanjiaai.kzhihu.App"
        android:icon="@mipmap/icon_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.lanjiaai.kzhihu.ui.activity.LoadingActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lanjiaai.kzhihu.ui.activity.HomeActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.lanjiaai.kzhihu.ui.activity.PostAnswersActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Trans" />
        <activity
            android:name="com.lanjiaai.kzhihu.ui.activity.WebBrowserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Trans" />
        <activity
            android:name="com.lanjiaai.kzhihu.ui.activity.UserProfileActivity"
            android:label="@string/title_activity_user_profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Trans" />
        <activity
            android:name="com.lanjiaai.kzhihu.ui.activity.UserSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Trans" />
        <activity
            android:name="com.lanjiaai.kzhihu.ui.activity.FeedbackActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Trans" />
        <activity
            android:name="com.lanjiaai.kzhihu.ui.activity.AboutUsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Trans" />
        <activity
            android:name="com.lanjiaai.kzhihu.ui.activity.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name="com.lanjiaai.kzhihu.ui.activity.MyFavoriteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Trans" />
        <activity android:name="com.lanjiaai.kzhihu.ui.activity.RandomLookActivity"></activity>
    </application>

</manifest>